body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}
img{
  display: block;
  margin: auto;
}

nav a {
  color: rgb(223, 223, 233);
  text-decoration:underline;
  color: blue;
  text-align: center;
  background-color: grey;
  padding: 10px 20px;
}

caption {
  text-align: center;
  font-size: smaller;
  
}
#featured-property p {
  width: 800px;
  margin: auto;
  text-align: center;
}
#details div{
  float: left;
  width: 20%;
  background-color: rgb(232, 15, 15);
  
}



